@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .button {
        @apply h-[50%] w-full bg-[#1992D4] self-center rounded-3xl text-white
    }

    .projectCard {
        @apply h-48 grid grid-cols-[3%_97%] grid-rows-[2fr_1fr] bg-white
    }

    .projectCardBar {
        @apply bg-orange-300 row-[1_/_3]
    }

    .projectCardText {
        @apply text-sm self-center pl-[6%] pr-[20%] pt-[5%]
    }

    .projectCardHeader {
        @apply font-bold text-base
    }

    .projectCardNav {
        @apply col-[2_/_4] w-full h-10 flex justify-end self-center gap-[5%] pr-[10%]
    }

    #burgerMenu {
        position: fixed;
        display: grid;
        top: calc(8% - 1px);
        left: 0;
        height: calc(77vh + 1px);
        width: 100%;
        clip-path: inset(0 0 77vh 0);
        transition: 0.5s;
        background-color: #1992D4;
        color: white;
        padding: 0 12.5% 0 12.5%;
    }

    .navMenuItem {
        @apply flex items-center gap-[8%] font-bold text-base
    }

    .navMenuIcon {
        @apply h-8 w-8
    }

    .projectCardIcon {
        @apply h-8 w-8 fill-black
    }
}